body { 
    background: #303030;
    color: rgba(255, 255, 255, .8);
}
#mainpage {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    overflow-y: auto;
}
.avatar {
    border-radius: 50%;
    border: 2px solid black;
    vertical-align: middle;
    margin-right: 1rem;
}
button {
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
}
#form { 
    background: rgba(0, 0, 0, 0.15); 
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10%;
    display: flex;
    box-sizing: border-box; 
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}
#input { 
    border: none; 
    flex-grow: 1; 
    font-size: 28px;
    height: 90%;
    padding: 10px;
    border-radius: 10px;
}
#input:focus { 
    outline: none; 
}
#form > button { 
    background: #333; 
    font-size: 28px;
    border: none; 
    outline: none; 
    color: #fff; 
}

#messages { 
    list-style-type: none; 
}

#messages > li { 
    padding: 0.5rem 1rem; 
}
#messages > li:nth-child(odd) { 
    background: rgba(128, 128, 128, .5); 
}